// === variables ===
$violet: hsl(257, 40%, 49%);
$soft-magneta: hsl(300, 69%, 71%);
$soft-magneta-active: hsl(300, 69%, 61%);
// === / variables ===

// === common styles ===
:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: $violet url('/images/bg-desktop.svg') no-repeat center center / cover;

    @media(max-width: 600px) {
        background: $violet url('/images/bg-mobile.svg') no-repeat center center / cover;
    }
}

.huddle {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.huddle-container {
    max-width: 1315px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

// === / common styles ===

// === huddle-header ===
.huddle-header {
    margin-top: 50px;
    position: relative;

        &__logo-img {
            width: 100%;
            height: 100%;
            transition: transform .3s ease-in-out;
            @media(max-width: 600px) {
                width: 70%;
            }

            @media(max-width: 400px) {
                width: 50%;
            }

            &:hover {
                animation: anim .5s linear infinite;
            }

        }

    &__title {
        position: absolute;
        top: 0;
        left: 0;
        color: hsla(100, 100%, 100%, 0);
        user-select: none;
    }
}
// === / huddle-header ===

// ===  huddle-main ===
.huddle-main {
    margin-top: 100px;
    margin-bottom: 25px;
    color: hsl(100, 100%, 100%);

    @media(max-width: 1100px) {
        margin-bottom: 80px;
    }

    .huddle-container {
        display: flex;
        justify-content: space-between;

        @media(max-width: 1100px) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__img {
        flex-basis: 55%;
    }

    &__register {
        padding-left: 10px;
        flex-basis: 40%;
        margin-top: 50px;

        &-article-title {
            font-weight: 600;
            font-size: 40px;
            line-height: 1.5;

            @media(max-width: 600px) {
                font-size: 30px;
            }

            @media(max-width: 600px) {
                font-size: 25px;
            }
        }

        &-article-text {
            margin: 25px 0;
            line-height: 1.6;
            color: hsla(100, 100%, 100%, .8);

            
            @media(max-width: 600px) {
                font-size: 15.5px;
            }
        }

        &-btn {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            max-width: 200px;
            width: 100%;
            text-align: center;
            padding: 15px 0;
            color: $violet;
            cursor: pointer;
            border-radius: 30px;
            background: hsl(100, 100%, 100%);
            border: 0;
            box-shadow: 0px 0px 15px hsla(0,0%,0%, .8);
            transition: all .3s linear;

            @media(max-width: 600px) {
                max-width: 400px;
            }

            &:hover {
                background: $soft-magneta;
                color: hsl(100, 100%, 100%);
            }

            &:active {
                background: $soft-magneta-active;
                color: hsl(100, 100%, 100%);
            }
        }
    }

}
// === / huddle-main ===

// ===  huddle-footer ===
.huddle-footer {
    margin-top: auto;
    .huddle-container {
        display: flex;
        flex-direction: column;
    }

    &__social {
        margin-left: auto;
        display: flex;
        margin-bottom: 25px;

        @media(max-width: 1100px) {
            margin: 25px auto;
        }

        &-item+&-item {
            margin-left: 15px;
        }

        &-item__link {
            font-size: 0;
            color: hsl(100, 100%, 100%);
            width: 40px;
            height: 40px;
            border: 1px solid hsl(100, 100%, 100%);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease;

            &:hover {
                color: $soft-magneta;
                border-color: $soft-magneta;
            }

            &:active {
                color: $soft-magneta-active;
                border-color: $soft-magneta-active;
            }
        }

        .fab {
            font-size: 18px;
        }
    }
}
// === / huddle-footer ===


// === animations ===
@keyframes anim {
    0% {transform: skewX(0deg)}
    10% {transform: skewX(.5deg)}
    20% {transform: skewX(1deg)}
    30% {transform: skewX(1.5deg)}
    40% {transform: skewX(1deg)}
    50% {transform: skewX(.5deg)}
    60% {transform: skewX(0deg)}
    70% {transform: skewX(-.5deg)}
    80% {transform: skewX(-1deg)}
    90% {transform: skewX(-1.5deg)}
    100% {transform: skewX(0deg)}
}
// === /animations ===
