// === variables ===
$violet: hsl(257, 40%, 49%);
$soft-magneta: hsl(300, 69%, 71%);
// === / variables ===

// === common styles ===
:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: $violet url('/images/bg-desktop.svg') no-repeat center center / cover;
}

.huddle {
    height: 100vh;
}

.huddle-container {
    max-width: 1315px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

// === / common styles ===

// === huddle-header ===
.huddle-header {
    margin-top: 50px;
    position: relative;

    &__title {
        position: absolute;
        top: 0;
        left: 0;
        color: hsla(100, 100%, 100%, 0);
        user-select: none;
    }
}
// === / huddle-header ===